In [2]:
import numpy as np
import pandas as pd

In [3]:
df_diemthi = pd.DataFrame({'Grade': np.random.randint(50, 100, size=1000)})

In [4]:
df_diemthi.head()

   Grade
0     82
1     96
2     58
3     82
4     50

In [5]:
print(len(df_diemthi))

1000

In [6]:
# Lấy mẫu ngẫu nhiên 50 dòng từ df_diemthi
df_sample = df_diemthi.sample(n=50, random_state=42)
df_sample.head()

     Grade
521     97
737     50
740     89
660     89
411     73

In [7]:
df_diemthi = pd.DataFrame({'Grade': np.random.randint(50, 100, size=1000)})
df_diemthi['Gender'] = np.random.choice(['Male', 'Female'], size=len(df_diemthi))
df_diemthi.head()

   Grade  Gender
0     64  Female
1     80    Male
2     59    Male
3     94    Male
4     66  Female

In [8]:
df_sample = df_diemthi.sample(n=50)
df_sample.head()

     Grade Gender
164     50   Male
289     64   Male
501     92   Male
710     92   Male
445     55   Male

In [9]:
print(len(df_sample[df_sample['Gender'] == 'Male']))
print(len(df_sample[df_sample['Gender'] == 'Female']))

31
19

In [10]:
# Lấy mẫu phân tầng theo giới tính, mỗi nhóm 25 dòng
df_sample_groups = df_diemthi.groupby('Gender').apply(lambda x: x.sample(n=25))
df_sample_groups.head()

/var/folders/10/3dssf0p51vzgb7zfm9xl0vrm0000gn/T/ipykernel_6178/95420143.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_sample_groups = df_diemthi.groupby('Gender').apply(lambda x: x.sample(n=25))

            Grade  Gender
Gender
Female 231     90  Female
       660     99  Female
       410     52  Female
       719     74  Female
       369     90  Female

In [11]:
print(len(df_sample_groups[df_sample_groups['Gender'] == 'Male']))
print(len(df_sample_groups[df_sample_groups['Gender'] == 'Female']))

25
25

In [12]:
df_sample_groups[-5:]

            Grade Gender
Gender
Male   717     84   Male
       38      76   Male
       73      61   Male
       881     79   Male
       353     58   Male

In [13]:
# Lấy mẫu hệ thống bước nhảy 20
n = 50
step = len(df_diemthi) // n
df_sample_step = df_diemthi[::step]

In [14]:
df_sample_step.head()

    Grade  Gender
0      64  Female
20     98  Female
40     66  Female
60     84    Male
80     96    Male

In [15]:
# Lấy mẫu phân cụm
df_diemthi['School'] = np.random.choice(['ĐH Bách Khoa', 
                                        'ĐH Kinh Tế',
                                        'ĐH Xây Dựng',
                                        'ĐH Ngoại Thương',
                                        'ĐH Y Hà Nội',
                                        'ĐH FPT',
                                        'ĐH Công Nghiệp',
                                        'ĐH Giao Thông Vận Tải',
                                        'ĐH Thủy Lợi',
                                        'ĐH Sư Phạm Kỹ Thuật'], 
                                        size=len(df_diemthi))

In [16]:
df_diemthi.head()

   Grade  Gender          School
0     64  Female    ĐH Bách Khoa
1     80    Male     ĐH Y Hà Nội
2     59    Male     ĐH Xây Dựng
3     94    Male          ĐH FPT
4     66  Female  ĐH Công Nghiệp

In [17]:
chosen_schools = np.random.choice(df_diemthi['School'].unique(), size=3, replace=False)
print(chosen_schools)

['ĐH Bách Khoa' 'ĐH Xây Dựng' 'ĐH Kinh Tế']

In [18]:
df_sample_schools = df_diemthi[df_diemthi['School'].isin(chosen_schools)]
df_sample_schools.head()

   Grade  Gender        School
0     64  Female  ĐH Bách Khoa
2     59    Male   ĐH Xây Dựng
5     57  Female   ĐH Xây Dựng
6     97    Male  ĐH Bách Khoa
7     83  Female   ĐH Xây Dựng

In [19]:
print(df_diemthi['School'].isin(chosen_schools))

0       True
1      False
2       True
3      False
4      False
       ...
995     True
996    False
997    False
998    False
999    False
Name: School, Length: 1000, dtype: bool

In [20]:
a = np.random.randint(1,100,20)
print(a)

[27 95 79 80 95 10 86 83 74 20 92 67 88  7 88 49 51  5 80 80]

In [21]:
print(a % 2 == 0)

[False False False  True False  True  True False  True  True  True False
  True False  True False False False  True  True]

In [22]:
print(a[a % 2 == 0])

[80 10 86 74 20 92 88 88 80 80]

In [23]:
df_import = pd.read_csv('USImport.csv', delimiter=';')

In [31]:
# get 30 samples grouped by Country
n_countries = len(df_import['Country of Origin'].unique())
print(n_countries)
n_sample = 30 // n_countries
print(n_sample)

14
2

In [32]:
df_sample_import = df_import.groupby('Country of Origin').apply(lambda x: x.sample(n=n_sample) if len(x) >= n_sample else x)
df_sample_import.head()

/var/folders/10/3dssf0p51vzgb7zfm9xl0vrm0000gn/T/ipykernel_6178/4184039918.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_sample_import = df_import.groupby('Country of Origin').apply(lambda x: x.sample(n=n_sample) if len(x) >= n_sample else x)

                                       Date Import Country (Source)  \
Country of Origin
CHINA             2713  2023-10-21 00:00:00                     USA
                  1605  2024-04-03 00:00:00                     USA
CHINA TAIWAN      1821  2024-02-27 00:00:00                     USA
                  695   2024-09-14 00:00:00                     USA
INDIA             1464  2024-04-18 00:00:00                     USA

                                                     Exporter  \
Country of Origin
CHINA             2713  ZHEJIANG YAOXING IMPORT EXPORT CO LTD
                  1605      SCHENKER CHINA LTD CHENGDU BRANCH
CHINA TAIWAN      1821        CHUNG CHENG ELECTRIC HEATING CO
                  695         CHUNG CHENG ELECTRIC HEATING CO
INDIA             1464            BRACALENTE GLOBAL INDIA LLP

                                                 Importer  HS Code  \
Country of Origin
CHINA             2713                 ACCESSORY KING LLC   851390
                  1605  SCHENKER INC AS AGENT OF SCHENKER   851390
CHINA TAIWAN      1821             RELAX F I R MASTER INC   851390
                  695              RELAX F I R MASTER INC   851390
INDIA             1464          BRACALENTE GLOBAL LIMITED   851390

                       Country of Origin Country of Destination Quantity  \
Country of Origin
CHINA             2713             CHINA          UNITED STATES     1157
                  1605             CHINA          UNITED STATES        2
CHINA TAIWAN      1821      CHINA TAIWAN          UNITED STATES      621
                  695       CHINA TAIWAN          UNITED STATES      591
INDIA             1464             INDIA          UNITED STATES      282

                       Qty Unit Weight Wgt Unit Value (US$) Transport Mode  \
Country of Origin
CHINA             2713      CTN  15180       KG           0       MARITIME
                  1605      PKG    319       KG     8358,14       MARITIME
CHINA TAIWAN      1821      CTN   8727       KG   333679,41       MARITIME
                  695       CTN   8345       KG   319073,53       MARITIME
INDIA             1464      BOX   2346       KG           0       MARITIME

                             Products
Country of Origin
CHINA             2713         LIGHTS
                  1605       COMPUTER
CHINA TAIWAN      1821          SAUNA
                  695           SAUNA
INDIA             1464  ELECTRIC LAMP

In [33]:
steps = len(df_import) // 30
df_sample_import_step = df_import[::steps]
df_sample_import_step.head()

,Date,Import Country (Source),Exporter,Importer,HS Code,Country of Origin,Country of Destination,Quantity,Qty Unit,Weight,Wgt Unit,Value (US$),Transport Mode,Products
0,2025-02-28 00:00:00,USA,SUMEC MACHINERY ELECTRIC CO LTD,FIRMAN POWER EQUIPMENT INCORPORATED,851390,CHINA,UNITED STATES,192,PKG,19680,KG,"515637,13",MARITIME,GENERATOR
206,2025-01-03 00:00:00,USA,LONGWIN POWER TECHNOLOGY COMPANY,GENERAC POWER SYSTEMS INC,851390,VIETNAM,UNITED STATES,768,PKG,67292,KG,"1522538,72",MARITIME,GENERATOR
412,2024-10-22 00:00:00,USA,SUMEC MACHINERY ELECTRIC COMPANY,FIRMAN POWER EQUIPMENT INCORPORATED,851390,CHINA,UNITED STATES,224,CTN,15164,KG,"397313,08",MARITIME,GENERATOR
618,2024-09-24 00:00:00,USA,SUMEC MACHINERY ELECTRIC CO LTD,FIRMAN POWER EQUIPMENT INCORPORATED,851390,CHINA,UNITED STATES,376,CTN,39104,KG,"1024566,78",MARITIME,GENERATOR
824,2024-08-22 00:00:00,USA,SCHENKER CHINA LTD CHENGDU BRANCH,SCHENKER INC AS AGENT OF SCHENKER,851390,CHINA,UNITED STATES,8,PKG,1508,KG,"39511,22",MARITIME,COMPUTER

In [37]:
print('Number of Exporters:', len(df_import['Exporter'].unique()))
print('Number of Importers:', len(df_import['Importer'].unique()))
print('Number of Countries of Origin:', len(df_import['Country of Origin'].unique()))
print('Number of Products:', len(df_import['Products'].unique()))

Number of Exporters: 172
Number of Importers: 300
Number of Countries of Origin: 14
Number of Products: 9

In [38]:
print(len(df_import))

6185

In [39]:
importers = df_import['Importer'].unique().tolist()
sampled_importers = []
df_sample_import_custom = pd.DataFrame()
n_rows = 0
while n_rows < 30:
    # get random Importer
    chosen_importer = np.random.choice(importers)
    importers.remove(chosen_importer)
    sampled_importers.append(chosen_importer)
    n_rows += len(df_import[df_import['Importer'] == chosen_importer])

df_sample_import_custom = df_import[df_import['Importer'].isin(sampled_importers)]
df_sample_import_custom.head()
print(len(df_sample_import_custom))

35

In [40]:
df_sample_import_custom = df_sample_import_custom[:30]
print(len(df_sample_import_custom))

30