In [8]:
class Student:
    # Constructor (hàm khởi tạo), 2 tham số: name và age
    def __init__(self, name, age):
        # gan giá trị tham số cho thuộc tính của đối tượng
        self.name = name
        self.age = age
    
    def hi(self):
        print(f'My name is {self.name}, I am {self.age} years old.')

In [ ]:
john = Student('John', 20) # create an object of Student class
john.hi()               # call method hi of object john

My name is John, I am 20 years old.

In [10]:
print(john.name)
print(john.age)

John
20

In [11]:
paul = Student('Paul', 22)
print(paul.name)
print(paul.age)
paul.hi()

Paul
22
My name is Paul, I am 22 years old.

In [12]:
paul.age = -20
paul.hi()

My name is Paul, I am -20 years old.

In [13]:
class Student:
    def __init__(self, name, age):
        self.name = name    # name is a public attribute
        self.__age = age    # __age is a private attribute
    
    def hi(self):
        print(f'My name is {self.name}, I am {self.__age} years old.')

In [14]:
john = Student("John Doe", 21)
print(john.name)  # name is accessible because it's public

John Doe

In [15]:
print(john.__age)

AttributeError: 'Student' object has no attribute '__age'

In [16]:
john.hi()

My name is John Doe, I am 21 years old.

In [21]:
class Student:
    def __init__(self, name, age):
        self.name = name    # name is a public attribute
        self.__age = age    # __age is a private attribute
    
    def get_age(self):
        return self.__age
    
    def set_age(self, new_age):
        if new_age < 18:
            print("Age cannot be less than 18.")
        else:
            self.__age = new_age
    
    def hi(self):
        print(f'My name is {self.name}, I am {self.__age} years old.')

In [22]:
john = Student("John Doe", 21)
print(john.name)  # Output: John Doe
print(john.get_age())  # Output: 21

John Doe
21

In [23]:
john.set_age(22)
john.hi()

My name is John Doe, I am 22 years old.

In [24]:
john.set_age(-22)
john.hi()

Age cannot be less than 18.
My name is John Doe, I am 22 years old.

In [27]:
class Employee:
    def __init__(self, eid, name):
        self.__id = eid
        self.__name = name

    def get_id(self):
        return self.__id
    
    def get_name(self):
        return self.__name

In [28]:
john = Employee(1, 'John Lennon')
paul = Employee(2, 'Paul McCartney')
print(john.get_id(), john.get_name())
print(paul.get_id(), paul.get_name())

1 John Lennon
2 Paul McCartney

In [30]:
john.__name = 'John McCartney'
print(john.get_name())

John Lennon

In [31]:
class Employee:
    def __init__(self, name, salary):
        self.__name = name
        self.__salary = salary
    
    def get_name(self):
        return self.__name
    
    def ask_salary(self):
        print(f'Salary is secret.')

In [32]:
john = Employee('John', 50000)

In [33]:
john.ask_salary()

Salary is secret.

In [34]:
print(john.__salary)

AttributeError: 'Employee' object has no attribute '__salary'

In [35]:
class Employee:
    def __init__(self, name, salary):
        self.set_name(name)
        self.set_salary(salary)
    
    def get_name(self):
        return self.__name

    def get_salary(self):
        return self.__salary

    def set_name(self, name):
        if name == "":
            print("Name cannot be empty.")
        else:
            self.__name = name
    
    def set_salary(self, salary):
        if salary < 0:
            print("Salary cannot be negative.")
        else:
            self.__salary = salary

In [36]:
john = Employee('John', -2000)
print(john.get_name())
print(john.get_salary())

Salary cannot be negative.
John

AttributeError: 'Employee' object has no attribute '_Employee__salary'

In [37]:
class Employee:
    def __init__(self, name, salary):
        self.__name = name
        self.__salary = salary

    @property
    def name(self):
        return self.__name
    
    @name.setter
    def name(self, new_name):
        if new_name == "":
            print("Name cannot be empty.")
        else:
            self.__name = new_name

    @property
    def salary(self):
        return self.__salary

    @salary.setter
    def salary(self, new_salary):
        if new_salary < 0:
            print("Salary cannot be negative.")
        else:
            self.__salary = new_salary

In [38]:
john = Employee('John', 50000)
print(john.name)
john.salary = 30000
print(john.salary)

John
30000

In [39]:
john.name = ''

Name cannot be empty.

In [40]:
john.salary = -1000

Salary cannot be negative.

In [41]:
print(john.name, john.salary)

John 30000