In [1]:
import pandas as pd
import numpy as np
from apyori import apriori

In [2]:
df_retail = pd.read_csv('Online_Retail_5000.csv')
df_retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total
0,536365a,85123Ab,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365a,71053b,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365a,84406Bb,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365a,84029Gb,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365a,84029Eb,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [3]:
df_retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    5000 non-null   object
 1   StockCode    5000 non-null   object
 2   Description  4988 non-null   object
 3   Quantity     5000 non-null   int64
 4   InvoiceDate  5000 non-null   object
 5   UnitPrice    5000 non-null   float64
 6   CustomerID   3795 non-null   float64
 7   Country      5000 non-null   object
 8   Total        5000 non-null   float64
dtypes: float64(3), int64(1), object(5)
memory usage: 351.7+ KB

In [4]:
df_retail['StockCode'].nunique()

1595

In [5]:
df_retail['InvoiceNo'] = df_retail['InvoiceNo'].astype(str) + '_'
df_retail['StockCode'] = df_retail['StockCode'].astype(str) + '_'

In [6]:
transactions = []
invoices = df_retail['InvoiceNo'].unique()
print(len(invoices))

300

In [7]:
for iv in invoices:
    items = df_retail[df_retail['InvoiceNo'] == iv]['StockCode'].tolist()
    transactions.append(items)

print(len(transactions))

300

In [8]:
print(transactions[0:10])

[['85123Ab_', '71053b_', '84406Bb_', '84029Gb_', '84029Eb_', '22752b_', '21730b_'], ['22633b_', '22632b_'], ['84879b_', '22745b_', '22748b_', '22749b_', '22310b_', '84969b_', '22623b_', '22622b_', '21754b_', '21755b_', '21777b_', '48187b_'], ['22960b_', '22913b_', '22912b_', '22914b_'], ['21756b_'], ['22728b_', '22727b_', '22726b_', '21724b_', '21883b_', '10002b_', '21791b_', '21035b_', '22326b_', '22629b_', '22659b_', '22631b_', '22661b_', '21731b_', '22900b_', '21913b_', '22540b_', '22544b_', '22492b_', 'POSTb_'], ['22086b_'], ['22632b_', '22633b_'], ['85123Ab_', '71053b_', '84406Bb_', '20679b_', '37370b_', '21871b_', '21071b_', '21068b_', '82483b_', '82486b_', '82482b_', '82494Lb_', '84029Gb_', '84029Eb_', '22752b_', '21730b_'], ['21258b_']]

In [ ]:
apr_rules = apriori(transactions, min_support=0.02, min_confidence=0.3, min_lift=3, min_length=2)
apr_rules = list(apr_rules)

In [ ]:
apr_rules_sorted = sorted(apr_rules, key=lambda x: x.support, reverse=True)
for i, rule in enumerate(apr_rules_sorted[:5]):
    print(f"Rule {i+1}:")
    print(f"Items: {rule.items}")
    print(f"Support: {rule.support}")
    for ordered_stat in rule.ordered_statistics:
        print(f'  {ordered_stat.items_base} -> {ordered_stat.items_add}')
        print(f"  Confidence: {ordered_stat.confidence}")
        print(f"  Lift: {ordered_stat.lift}")
    print("=====================================")