In [13]:
import pandas as pd
import numpy as np
from apyori import apriori

In [14]:
df_retail = pd.read_csv('Online_Retail_5000.csv')
df_retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [15]:
df_retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    5000 non-null   object
 1   StockCode    5000 non-null   object
 2   Description  4988 non-null   object
 3   Quantity     5000 non-null   int64
 4   InvoiceDate  5000 non-null   object
 5   UnitPrice    5000 non-null   float64
 6   CustomerID   3795 non-null   float64
 7   Country      5000 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 312.6+ KB

In [16]:
df_retail['StockCode'].nunique()

1595

In [17]:
df_retail['InvoiceNo'] = df_retail['InvoiceNo'].astype('str') + ' '
df_retail['StockCode'] = df_retail['StockCode'].astype('str') + ' '

In [18]:
df_retail['InvoiceNo'].head()

0    536365
1    536365
2    536365
3    536365
4    536365
Name: InvoiceNo, dtype: object

In [19]:
transactions = []
invoices = df_retail['InvoiceNo'].unique()
print(len(invoices))

300

In [20]:
for iv in invoices:
    items = df_retail[df_retail['InvoiceNo'] == iv]['StockCode'].tolist()
    transactions.append(items)

print(len(transactions))

300

In [21]:
print(transactions[0:10])

[['85123A  ', '71053  ', '84406B  ', '84029G  ', '84029E  ', '22752  ', '21730  '], ['22633  ', '22632  '], ['84879  ', '22745  ', '22748  ', '22749  ', '22310  ', '84969  ', '22623  ', '22622  ', '21754  ', '21755  ', '21777  ', '48187  '], ['22960  ', '22913  ', '22912  ', '22914  '], ['21756  '], ['22728  ', '22727  ', '22726  ', '21724  ', '21883  ', '10002  ', '21791  ', '21035  ', '22326  ', '22629  ', '22659  ', '22631  ', '22661  ', '21731  ', '22900  ', '21913  ', '22540  ', '22544  ', '22492  ', 'POST  '], ['22086  '], ['22632  ', '22633  '], ['85123A  ', '71053  ', '84406B  ', '20679  ', '37370  ', '21871  ', '21071  ', '21068  ', '82483  ', '82486  ', '82482  ', '82494L  ', '84029G  ', '84029E  ', '22752  ', '21730  '], ['21258  ']]

In [26]:
apr_rules = apriori(transactions, min_support=0.02, min_confidence=0.3, min_lift=3, max_length=5)
apr_rules = list(apr_rules)

In [27]:
apr_rules_sorted = sorted(apr_rules, key=lambda x: x.support, reverse=True)
for i, rule in enumerate(apr_rules_sorted[:5]):
    print(f"Rule {i+1}:")
    print(f"Items: {rule.items}")
    print(f"Support: {rule.support}")
    for ordered_stat in rule.ordered_statistics:
        print(f'  {list(ordered_stat.items_base)} -> {list(ordered_stat.items_add)}')
        print(f"  Confidence: {ordered_stat.confidence}")
        print(f"  Lift: {ordered_stat.lift}")
    print("=====================================")

Rule 1:
Items: frozenset({'22633  ', '22632  '})
Support: 0.08666666666666667
  ['22632  '] -> ['22633  ']
  Confidence: 0.6842105263157895
  Lift: 6.414473684210526
  ['22633  '] -> ['22632  ']
  Confidence: 0.8125
  Lift: 6.414473684210526
=====================================
Rule 2:
Items: frozenset({'84029G  ', '84029E  '})
Support: 0.07333333333333333
  ['84029E  '] -> ['84029G  ']
  Confidence: 0.7333333333333333
  Lift: 9.166666666666666
  ['84029G  '] -> ['84029E  ']
  Confidence: 0.9166666666666666
  Lift: 9.166666666666666
=====================================
Rule 3:
Items: frozenset({'85123A  ', '84029E  '})
Support: 0.07
  ['84029E  '] -> ['85123A  ']
  Confidence: 0.7000000000000001
  Lift: 6.000000000000001
  ['85123A  '] -> ['84029E  ']
  Confidence: 0.6000000000000001
  Lift: 6.000000000000001
=====================================
Rule 4:
Items: frozenset({'84029G  ', '85123A  '})
Support: 0.07
  ['84029G  '] -> ['85123A  ']
  Confidence: 0.8750000000000001
  Lift: 7.500000000000001
  ['85123A  '] -> ['84029G  ']
  Confidence: 0.6000000000000001
  Lift: 7.500000000000001
=====================================
Rule 5:
Items: frozenset({'84029G  ', '85123A  ', '84029E  '})
Support: 0.06666666666666667
  ['84029E  '] -> ['84029G  ', '85123A  ']
  Confidence: 0.6666666666666666
  Lift: 9.523809523809522
  ['84029G  '] -> ['85123A  ', '84029E  ']
  Confidence: 0.8333333333333333
  Lift: 11.904761904761903
  ['85123A  '] -> ['84029G  ', '84029E  ']
  Confidence: 0.5714285714285714
  Lift: 7.792207792207792
  ['84029G  ', '84029E  '] -> ['85123A  ']
  Confidence: 0.9090909090909091
  Lift: 7.792207792207792
  ['85123A  ', '84029E  '] -> ['84029G  ']
  Confidence: 0.9523809523809523
  Lift: 11.904761904761903
  ['84029G  ', '85123A  '] -> ['84029E  ']
  Confidence: 0.9523809523809523
  Lift: 9.523809523809522
=====================================